@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

:root {
   --text-color: #464646;
   --light-text-color: #A3A3A3;
   --background-color: #edede9;
   --button-color: #ffb050;
   --button-color2: #4894FF;  
   --border-color: #cfcfcf;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   background-color: var(--background-color);
}

header {
   height: 120px;
   display: flex;
   align-items: flex-end;
   justify-content: center;
   padding: 1rem 0 1.4rem 1rem;
   margin-bottom: 1rem;
}

header .header-content {
   max-width: 425px;
   display: flex;
   align-items: center;
   gap: 1em;
   flex: 1;
}

header .header-content h1 {
   font-size: 1.4em;
   margin-bottom: .3em;
   color: var(--text-color);
}

header .header-content p {
   font-size: 0.9em;
   color: var(--light-text-color);
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 0 1rem 0 1rem;
}

.query-list {
   display: flex;
   flex-direction: column;
   max-width: 425px;
   flex: 1;
   margin-bottom: 2rem;
   border-bottom: 1px solid var(--button-color2);
}

.query-list > span {
   font-size: 1rem;
   font-weight: 700;
}

.query-list > .list {
   width: 100%;
   margin-top: 1rem;
}

.query-list .list .list-items {
   height: 170px;
   margin-bottom: 4rem;
} 

.query-list .list .list-items .person-content {
   display: flex;
   justify-content: space-between;
   background-color: #fff;
   margin-bottom: 0.2rem;
   padding: 1rem 1rem 1rem 1rem; 
   border-radius: 10px 10px 0 0;
}

.query-list .list .list-items .person-content > div > img {
   width: 2.5rem;
   border-radius: 50%;
}

.query-list .list .list-items .person-content > img {
   padding: 0 0.9rem;
   background-color: var(--background-color);
   border-radius: 50%;
   cursor: pointer;
}

.query-list .list .list-items .person-content div {
   display: flex;
}

.query-list .list .list-items .person-content .person-info {
   display: flex;
   flex-direction: column;
   margin-left: 1rem;
}

.query-list .list .list-items .person-content .person-info > p {
   color: var(--text-color);
   font-size: 0.9rem;
   font-weight: 700;
   margin-bottom: .5rem;
}

.query-list .list .list-items .person-content .person-info .query {
   display: flex;
   align-items: center;
}

.query-list .list .list-items .person-content .person-info .query p {
   color: var(--light-text-color);
   font-size: 0.8rem; 
   margin-left: .5rem;
}

.query-list .list .list-items .query-info {
   background-color: #fff;
   padding: 1.3rem;
   border-radius: 0 0 10px 10px;
}

.query-list .list .list-items .query-info span {
   font-size: 0.8rem;
   color: var(--text-color);
   font-weight: 500;
}

.query-list .list .list-items .query-info div {
   display: flex;
   justify-content: space-between;
}

.query-list .list .list-items .query-info .video-call {
   background-color: var(--button-color);
   color: #fff;
   border: none;
   padding: 1rem;
   border-radius: .5rem;
   font-size: .8rem;
   margin-top: .5rem;
   cursor: pointer;
}

.query-list .list .list-items .query-info .audio-call {
   border: 2px solid #ececec;
   padding: 1rem;
   margin-top: .5rem;
   background-color: transparent;
   font-size: .8rem;
   border-radius: 0.5rem;
   cursor: pointer;
}

.query-list .list .list-items .query-info .address-button {
   width: 100%;
   margin-top: .5rem;
   padding: 1rem;
   border: none;
   border-radius: .5rem;
   font-size: .8rem;
   color: #fff;
   background-color: var(--button-color2);
   cursor: pointer;
}

#fade {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.6);
   z-index: 1;
}

#modal {
   position: fixed;
   right: 18%;
   bottom: 0%;
   z-index: 2;
   margin-bottom: 15rem;
}

#modal .modal-body {
   width: 100%;
}

#fade,
#modal {
   transition: 0.5s;
   opacity: 1;
   pointer-events: all;
}

#fade.hide {
   visibility: hidden;
}

.floating-button {
   position: absolute;
}

.floating-button .local-query,
.floating-button .video-query {
   display: flex;
   flex-direction: row-reverse;
}

.floating-button .local-query button,
.floating-button .video-query button, 
.floating-button button {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50px;
   width: 50px;
   padding: .8rem 1rem;
   background-color: var(--button-color2);
   border: none;
   border-radius: 50%;
   color: #fff;
   filter: drop-shadow(0px 4px 16px rgba(72, 148, 255, 0.5));
}

.floating-button button,
.floating-button .video-query button {
   margin-top: .5rem;
}

.floating-button .local-query span,
.floating-button .video-query span {
   position: absolute;
   text-align: center;
   margin-top: 1.5rem;
   margin-right: 4rem;
   font-size: .9rem;
   padding: 2px;
   border-radius: 16px;
   color: var(--text-color);
   background-color: #fff;
}

.floating-button .local-query span{
   width: 290px;
}

.floating-button .video-query span {
   width: 210px;
}

.pointer {
   cursor: pointer;
}

/* .appear {
   opacity: 1;
   transition: .5s;
} */

.hidden {
   /* opacity: 0; */
   visibility: hidden;
   /* transform: translateY(20px);  */
   /* transition: .5s; */
}

.new-query {
   max-width: 1024px;
   margin-bottom: 4rem;
}

.new-query h2 {
   margin-bottom: 2rem;
   color: var(--text-color);
}

.new-query form {
   height: 100%;
   background-color: #fff;
   padding: 1.7rem 1rem 1.3rem 1rem;
   margin-bottom: 2rem;
   position: relative;
}

.new-query form .form-content {
   height: 100%;
   display: flex;
   justify-content: center;
}

.new-query form .form-content #inputs {
   margin-right: 1rem;
   width: 50%;
}

.new-query form .form-content #inputs div {
   display: flex;
   flex-direction: column;
   gap: .5rem;
   margin-bottom: 1rem;
}

.new-query form .form-content #inputs #time-date {
   display: flex;
   flex-direction: column;
}

.new-query form .form-content input,
.new-query form .form-content select {
   height: 2rem;
   border: none;
   border-radius: 5px;
   padding-left: .5rem;
   background-color: #edede9;
}

.new-query form .form-content input:hover,
.new-query form .form-content select:hover {
   border: 1px solid var(--border-color);
}

.new-query form .form-content input:focus,
.new-query form .form-content select:focus {
   outline: 1px solid var(--button-color2);
}

.new-query form .form-content label {
   font-size: 0.8rem;
   color: var(--text-color);
}

.new-query form .form-content #appoiment-observation {
   display: flex;
   flex-direction: column;
   flex: 1;
   gap: .5rem;
}

.new-query form .form-content #appoiment-observation textarea {
   border: none;
   background-color: #edede9;
   padding-left: .5rem;
}

.new-query form .form-content #appoiment-observation textarea:hover {
   border: 1px solid var(--border-color);
}

.new-query form .form-content #appoiment-observation textarea:focus {
   outline: 1px solid var(--button-color2);
}

.new-query form .save-button {
   position: absolute;
   bottom: 0%;
   right: 20%;
   border: none;
   padding: .5rem .9rem;
   margin-bottom: 2rem;
   border-radius: 5px;
   color: #fff;
   background-color: var(--button-color2);
   font-weight: 700;
   cursor: pointer;
}

.new-query form .save-button:hover {
   background-color: #4786f0;
}

.new-query form .save-button:focus {
   background-color: #4062c9;
   outline: none;
   outline: 2px solid var(--button-color2);
}

footer {
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: center;
   position: fixed;
   bottom: 0%;
}

footer .footer-content {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
   background-color: #fff;
   box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.06);
   border-radius: 12px 12px 0px 0px;
}

footer .footer-content nav {
   width: 100%;
   max-width: 425px;
}

footer .footer-content nav ul {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

footer .footer-content nav ul li {
   list-style: none;
} 

footer .footer-content nav ul li a {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-decoration: none;
}

footer .footer-content nav ul li a img,
footer .footer-content nav ul li a span {
   color: var(--text-color);
   font-size: 0.8rem;
}

footer .footer-content nav ul li:hover {
   border-bottom: 1px solid var(--button-color)
}

footer .footer-content nav ul li a img {
   padding-bottom: 0.3rem;
   user-select: none;
}

footer .footer-content nav ul li:first-child a span {
   color: var(--button-color2);
}

footer .footer-content nav ul li .active-toolbar-button span {
   color: var(--button-color2);
}




/* Responsividade */

@media screen and (min-width: 2000px) {
   html {
      font-size: 160%;
   }

   header {
      margin-top: 1rem;
      padding-top: 0;
      padding-bottom: 0;
   }

   .query-list {
      max-width: none;
      width: 100%;
      margin-top: 1rem;
   }

   .query-list .list {
      display: flex;
      flex-wrap: wrap;
      gap: 0 1rem;
   }

   .query-list .list .list-items {
      min-width: 512px;
      max-width: 512px;
      height: 410px;
      margin-bottom: 2rem;
      flex: 1;
   }

   .query-list .list .list-items .person-content > img  {
      height: 65px;
      width: 65px;
   }

   .query-list .list .list-items .person-content .person-info div img {
      height: 30px;
      width: 30px;
   }

   .floating-button .local-query button,
   .floating-button .video-query button, 
   .floating-button button  {
      height: 90px;
      width: 90px;
   }

   .floating-button .local-query button img,
   .floating-button .video-query button img,  
   .floating-button button img {
      height: 30px;
      width: 30px;
   }

   footer {
      height: 80px;
   }

   footer .footer-content nav {
      max-width: 1000px;
   }

   footer .footer-content nav ul li a img {
      height: 40px;
      width: 40px;
   }

   footer .footer-content nav ul li a span {
      font-size: 1.1rem;
   }
}

@media screen and (min-width: 1650px) and (max-width: 1999px) {
   footer .footer-content nav ul li a img {
      height: 30px;
      width: 30px;
   }
}

@media screen and (min-width: 1440px) and (max-width: 1999px) {
   html {
      font-size: 130%;
   }

   header {
      padding-top: 0;
      padding-bottom: 0;
   }

   .query-list {
      max-width: none;
      width: 100%;
      margin-top: 1rem;
   }

   .query-list .list {
      display: flex;
      flex-wrap: wrap;
      gap: 0 1rem;
   }

   .query-list .list .list-items {   
      min-width: 360px;
      max-width: 383px;
      height: 330px;
      margin-bottom: 2rem;
      flex: 1;
   } 

   .query-list .list .list-items .person-content > img  {
      height: 55px;
      width: 55px;
   }

   .query-list .list .list-items .person-content .person-info div img {
      height: 25px;
      width: 25px;
   }

   .floating-button .local-query button,
   .floating-button .video-query button, 
   .floating-button button  {
      height: 80px;
      width: 80px;
   }

   .floating-button .local-query button img,
   .floating-button .video-query button img,  
   .floating-button button img {
      height: 24px;
      width: 24px;
   }

   footer {
      height: 70px;
   }

   footer .footer-content nav {
      max-width: 800px;
   }

   footer .footer-content nav ul li a span {
      font-size: 1rem;
   }
}

@media screen and (min-width: 768px) {

   header {
      margin-left: 18vw;
   }

   main {
      margin-left: 18vw;
   }

   .new-query {
      display: block;
   }

   #fade,
   #modal {
      display: none;
   }

   footer {
      position: fixed;
      top: 0%;
      height: 100%;
      width: 18vw;
      flex: 1;
      border-right: 3px solid rgba(0, 0, 0, 6%);
   }

   footer .footer-content {
      align-items: flex-start;
      border-radius: 0;
      padding: 1rem;
      box-shadow: none;
   }

   footer .footer-content nav ul{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
   }

   footer .footer-content nav ul li a {
      justify-content: flex-start;
      flex-direction: row;
      gap: 1rem;
   }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
   html {
      font-size: 110%;
   }

   .query-list {
      max-width: none;
      width: 100%;
   }

   .query-list .list {
      width: fit-content;
      display: flex;
      flex-wrap: wrap;
      gap: 0 1rem;
   }
   
   .query-list .list .list-items {
      min-width: 300px;
      max-width: 350px;
      height: 250px;
      margin-bottom: 3rem;
      flex: 1;
   } 

   .query-list .list .list-items .person-content > img  {
      height: 45px;
      width: 45px;
   }

   .query-list .list .list-items .person-content .person-info div img {
      height: 20px;
      width: 20px;
   }

   .floating-button .local-query button,
   .floating-button .video-query button, 
   .floating-button button  {
      height: 70px;
      width: 70px;
   }

   .floating-button .local-query button img,
   .floating-button .video-query button img,  
   .floating-button button img {
      height: 20px;
      width: 20px;
   }

   footer .footer-content nav {
      max-width: 600px;
   }

   footer .footer-content nav ul li a span {
      font-size: .9rem;
   }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

   .query-list {
      max-width: none;
      width: 100%;
   }

   .query-list .list {
      display: flex;
      flex-wrap: wrap;
      gap: 0 1rem;
   }

   .query-list .list .list-items {
      min-width: 290px;
      max-width: 350px;
      flex: 1;
      height: 170px;
      margin-bottom: 4rem;
   }   

   .floating-button .local-query button,
   .floating-button .video-query button, 
   .floating-button button  {
      height: 50px;
      width: 50px;
   }

   #modal {
      right: 10%;
      margin-bottom: 12.6rem;
   }
}

@media screen and (max-width: 767px) {
   .new-query {
      width: 0%;
      position: absolute;
      opacity: 0;
      right: 1000px;
   }

   .new-query h2 {
      background-color: #fff;
      padding: 1rem;
      margin: 0;
      border-bottom: 1px solid var(--button-color2);
   }

   .active {
      width: 80%;
      position: fixed;
      opacity: 1;
      top: 50%;
      left: 50%;
      z-index: 2;
      transform: translate(-50%, -50%);
   }
}

@media screen and (min-width: 650px) and (max-width: 767px) {
   .query-list {
      max-width: none;
      width: 100%;
   }

   .query-list .list {
      display: flex;
      flex-wrap: wrap;
      gap: 0 1rem;
   }

   .query-list .list .list-items {
      min-width: 250px;
      max-width: 359px;
      flex: 1;
   }
   
   .floating-button .local-query button,
   .floating-button .video-query button, 
   .floating-button button  {
      height: 50px;
      width: 50px;
   }

   #modal {
      right: 10%;
      margin-bottom: 14.5rem;
   }
}

@media screen and (max-width: 580px) {

   .new-query {
      max-height: 600px;
      margin-top: 1rem;
      height: 110%;
      width: 60%;
      overflow-y: scroll;
   }

   .new-query h2 {
      display: none;
   }

   .new-query form .form-content {
      flex-direction: column;
   }

   .new-query form .form-content #inputs {
      width: 100%;
   }

   .new-query form .save-button  {
      position: inherit;
      top: -5%;
      left: 50%;
      transform: translateX(-50%);
   }
}

@media screen and (max-width: 425px) {
   .new-query {
      width: 75%;
   }
}

@media screen and (min-width: 426px) {
   header .header-content {
      max-width: none;
   }

   footer .footer-content {
      max-width: none;
   }
}

@media screen and (max-width: 375px) {

   .floating-button .local-query span,
   .floating-button .video-query span {
      font-size: .8rem;
   }

   .floating-button .local-query span{
      width: 250px;
      margin-right: 3rem;
   }
   
   .floating-button .video-query span {
      width: 200px;
      margin-right: 3rem;
   }  
}


