@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

:root {
   --text-color: #464646;
   --light-text-color: #A3A3A3;
   --background-color: #edede9;
   --button-color: #ffb050;
   --button-color2: #4894FF;  
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   background-color: var(--background-color);
}

header {
   height: 120px;
   display: flex;
   align-items: flex-end;
   justify-content: center;
   padding: 0 0 1.4rem 1rem;
   margin-bottom: 1rem;
}

header .header-content {
   max-width: 425px;
   display: flex;
   align-items: center;
   gap: 1em;
   flex: 1;
}

header .header-content h1 {
   font-size: 1.4em;
   margin-bottom: .3em;
   color: var(--text-color);
}

header .header-content p {
   font-size: 0.9em;
   color: var(--light-text-color);
}

.container {
   display: flex;
   justify-content: center;
   padding: 0 1rem 0 1rem;
}

.query-list {
   display: flex;
   flex-direction: column;
   max-width: 425px;
   flex: 1;
   margin-bottom: 2rem;
}

.query-list > span {
   font-size: 1rem;
   font-weight: 700;
}

.query-list > .list {
   width: 100%;
   margin-top: 1rem;
}

.query-list .list .list-items {
   height: 170px;
   margin-bottom: 4rem;
} 

.query-list .list .list-items .person-content {
   display: flex;
   justify-content: space-between;
   background-color: #fff;
   margin-bottom: 0.2rem;
   padding: 1rem 1rem 1rem 1rem; 
   border-radius: 10px 10px 0 0;
}

.query-list .list .list-items .person-content > img {
   padding: 0 13px;
   background-color: var(--background-color);
   border-radius: 50%;
}

.query-list .list .list-items .person-content div {
   display: flex;
}

.query-list .list .list-items .person-content .person-info {
   display: flex;
   flex-direction: column;
   margin-left: 1rem;
}

.query-list .list .list-items .person-content .person-info > p {
   color: var(--text-color);
   font-size: 0.9rem;
   font-weight: 700;
   margin-bottom: .5rem;
}

.query-list .list .list-items .person-content .person-info .query p {
   color: var(--light-text-color);
   font-size: 0.8rem; 
   margin-left: .5rem;
}

.query-list .list .list-items .query-info {
   background-color: #fff;
   padding: 1.3rem;
   border-radius: 0 0 10px 10px;
}

.query-list .list .list-items .query-info span {
   font-size: 0.8rem;
   color: var(--text-color);
   font-weight: 500;
}

.query-list .list .list-items .query-info div {
   display: flex;
   justify-content: space-between;
}

.query-list .list .list-items .query-info .video-call {
   background-color: var(--button-color);
   color: #fff;
   border: none;
   padding: 1rem;
   border-radius: 0.5rem;
   font-size: 0.9rem;
   margin-top: 0.5rem;
}

.query-list .list .list-items .query-info .audio-call {
   border: 2px solid #ececec;
   padding: 1rem;
   margin-top: .5rem;
   background-color: transparent;
   border-radius: 0.5rem;
}

.query-list .list .list-items .query-info .address-button {
   width: 100%;
   margin-top: 0.5rem;
   padding: 1rem;
   border: none;
   border-radius: 0.5rem;
   font-size: 0.9rem;
   color: #fff;
   background-color: var(--button-color2);
}

#fade {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.6);
   z-index: 1;
}

#modal {
   position: fixed;
   right: 18%;
   bottom: 50%;
   z-index: 2;
}

#modal .modal-body {
   width: 100%;
}

#fade,
#modal {
   transition: 0.5s;
   opacity: 1;
   pointer-events: all;
}

#fade.hide {
   opacity: 0;
}

.floating-button {
   position: absolute;
}

.floating-button .local-query,
.floating-button .video-query {
   display: flex;
   flex-direction: row-reverse;
}

.floating-button .local-query button,
.floating-button .video-query button, 
.floating-button button {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50px;
   width: 50px;
   padding: .8rem 1rem;
   background-color: var(--button-color2);
   border: none;
   border-radius: 50%;
   color: #fff;
   cursor: pointer;
   filter: drop-shadow(0px 4px 16px rgba(72, 148, 255, 0.5));
}

.floating-button button,
.floating-button .video-query button {
   margin-top: .5rem;
}

.floating-button .local-query span,
.floating-button .video-query span {
   position: absolute;
   text-align: center;
   margin-top: 1.5rem;
   margin-right: 4rem;
   font-size: .9rem;
   padding: 2px;
   border-radius: 16px;
   color: var(--text-color);
   background-color: #fff;
}

.floating-button .local-query span{
   width: 290px;
}

.floating-button .video-query span {
   width: 210px;
}

.appear {
   opacity: 1;
   transition: 1s;
}

.hidden {
   opacity: 0;
   transform: translateY(20px); 
   transition: 1s;
}

footer {
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: center;
   position: fixed;
   bottom: 0%;
}

footer .footer-content {
   max-width: 461px;
   flex: 1;
   border-radius: 10px 10px 0 0;
   background-color: #fff;
}

footer .footer-content nav ul {
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

footer .footer-content nav ul li {
   list-style: none;
} 

footer .footer-content nav ul li a {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-decoration: none;
}

footer .footer-content nav ul li a img,
footer .footer-content nav ul li a span {
   color: var(--text-color);
   font-size: 0.8rem;
}

footer .footer-content nav ul li a img {
   padding-bottom: 0.3rem;
   user-select: none;
}

footer .footer-content nav ul li:first-child a span {
   color: var(--button-color2);
   font-size: 0.8rem;
}

footer .footer-content nav ul li .active-toolbar-button span {
   color: var(--button-color2);
}




/* Responsividade */

@media screen and (min-width: 768px) {

}

@media screen and (max-width: 375px) {

   .floating-button .local-query span,
   .floating-button .video-query span {
      font-size: .8rem;
   }

   .floating-button .local-query span{
      width: 250px;
      margin-right: 3rem;
   }
   
   .floating-button .video-query span {
      width: 200px;
      margin-right: 3rem;
   }  
}


